/* color palette from <https://github.com/vuejs/theme> */
:root {
  --clr-primary-100: hsl(215, 100%, 95%);
  --clr-primary-300: hsl(215, 100%, 73%);
  --clr-primary-400: hsl(215, 100%, 47%);

  --clr-light: hsl(0, 0%, 100%);
  --clr-light-200: hsl(0, 0%, 90%);

  --clr-dark-400: hsl(0, 0%, 75%);
  --clr-dark-600: hsl(0, 0%, 35%);
  --clr-dark-800: hsl(216, 100%, 9%);
  --clr-dark-900: hsl(0, 0%, 0%);

  /* --size-600:  */

  --ff-primary: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-600);
  --fs-nav: var(--fs-400);
  --fs-button: var(--fs-400);
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-400);
  }
}

/* Utils */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.bg-primary-400 {
  color: var(--clr-primary-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  line-height: 1.1;
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  line-height: 1.1;
  font-size: var(--fs-secondary-heading);
}

.fs-sm {
  font-size: var(--fs-300);
}
.fs-regular {
  font-size: var(--fs-400);
}
.fs-lg {
  font-size: var(--fs-500);
}

.container,
.section {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.split {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
}

@media (max-width: 50em) {
  .split {
    grid-auto-flow: row;
    /* grid-template-columns: repeat(1, 1fr); */
  }
}
